Tool Requirements:

DESCRIPTION -

First the user needs to be able to give an output directory to download the files into, from there the user then needs to be able to input an amount of a 
path (listed in https://emidatasets.blob.core.windows.net/publicdata?restype=container&comp=list) and the program will go ahead and recurisvly download every
file that is within this branch.

The tool needs to be able to support optional constraints, dateFrom (default=most recent) and dateTo (default=most recent). Optionally it would be great to
be able to do some kind of fuzzy search to where you query a keyword and it returns all of the blob container paths that include that keyword, displaying it 
to the user in which they are able to select and download

TASK LIST -

1. Find the best C++ HTTP client to make the requests / make a request (done)
2. Find a way to navigate through the XML file format
3. Gather all of the endpoints containing .csv downloads
4. Display them to the terminal
5. No GUI striaght from gui to download
6. Save output directory

HELPFUL RESOURCES -

All containers : https://www.emi.ea.govt.nz/Wholesale/Datasets
EA API Documentation : https://forum.emi.ea.govt.nz/thread/new-access-arrangements-to-emi-datasets-retirement-of-anonymous-ftp

DEPENDENCIES -

https://curl.se/download.html (Windows 64-bit cygwin)

INPUTS -

Datasets/Wholesale/BidsAndOffers/Bids/ -sd 2018/11/25 -ed 2018/11/30

